---
layout: default
---

<div class="home">


  {% for post in paginator.posts %}
  <article class="post">
    <header class="post__header">
      <h1 class="post__titulo">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <h2 class="post__fecha">{% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d de" }}
        {% case m %}
        {% when '1' %}enero
        {% when '2' %}febrero
        {% when '3' %}marzo
        {% when '4' %}abril
        {% when '5' %}mayo
        {% when '6' %}junio
        {% when '7' %}julio
        {% when '8' %}agosto
        {% when '9' %}septiembre
        {% when '10' %}octubre
        {% when '11' %}noviembre
        {% when '12' %}diciembre
        {% endcase %}
        {{ post.date | date: "de %Y" }}</h2>
      </header>
      <section class="post__contenido">
        {{ post.content }}
      </section>
    </article>
    {% endfor %}
  </div>

  <div class="paginacion">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="paginacion__atras">Atras</a>
    {% else %}
    <span class="paginacion__atras paginacion__atras--desactivada">Atras</span>
    {% endif %}
    <span class="paginacion__numero-pagina ">{{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="paginacion__adelante">Adelante</a>
    {% else %}
    <span class="paginacion__adelante paginacion__adelante--desactivada">Adelante</span>
    {% endif %}
  </div>
