<header class="cabecera">
  <div class="contenedor">
    <div class="cabecera__wrap">
      <div class="sitio__logo">
        <a class="sitio__titulo" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <nav class="cabecera__menu">
        <div class="nav">
          {% for page in site.pages %}
          {% if page.title %}
          <a class="nav__item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </nav>

    </div>
  </div>
</header>
