---
layout: default
---
  <ul class="archivo__listado">
    {% for post in site.posts %}
      <li class="archivo__item">
        <h2>
          <a class="archivo__titulo" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="archivo__fecha">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
