---
---
<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="contenido">
      <div class="contenedor">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
